<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">myapp</h3>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
	<h3>{{awesomeThings.length}} <ng-pluralize count="awesomeThings.length" when="{'1':'Feature','other':'Features'}"></ng-pluralize></h3>
	<div ng-repeat="thing in awesomeThings">
		<h4 ng-bind="thing.title"></h4>
		<p ng-bind="thing.description"></p>
	</div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
